Source: acopost
Section: text
Priority: optional
Maintainer: Ulrik Sandborg-Petersen <ulrikp@users.sourceforge.net>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Homepage: http://acopost.sourceforge.net/
Vcs-Git: git://git.code.sf.net/p/acopost/code
Vcs-Browser: http://sourceforge.net/p/acopost/code/ci/master/tree/

Package: acopost
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A COlection of POS Taggers (tagging part of speech)
  Part-of-speech tagging is the task of assigning symbols from a
  particular set to words in a natural language text. ACOPOST
  implements and extends well-known machine learning techniques and
  provides a uniform environment for testing.

Package: acopost-doc
Architecture: all
Description: documentation for acopost
  Part-of-speech tagging is the task of assigning symbols from a
  particular set to words in a natural language text. ACOPOST
  implements and extends well-known machine learning techniques and
  provides a uniform environment for testing. This package contains
  documentation for ACOPOST.

